﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p> Name</p>
姓名: <input type="text" /><br />
<br />
帳號: <input type="text" /><br />
<br />
密碼: <input type="Password" /><br />
<br />
性別:<input type="radio" name="gender" value="A" /> 男性 <input type="radio" name="gender" value="B" /> 女性<br />
<br />
興趣: <input type="checkbox" name="item" value="A" />游泳<input type="checkbox" name="item" value="A" />鬧鐘<input type="checkbox" name="item" value="A" />看電影<br />
<br />
自我介紹:<textarea></textarea><br />