﻿
@{
    ViewBag.Title = "Htmlhelper";
}

<h2>Htmlhelper</h2>
<p>姓名: @Html.TextBox("username")  </p>

<p>帳號: @Html.TextBox("account")</p>

<p>密碼: @Html.Password("password")</p>

<p>性別:
   @Html.RadioButton("gender","0") 男性 
   @Html.RadioButton("gender","1") 女性
</p>

<p>
    興趣:
    @Html.CheckBox("swim", "A")游泳
    @Html.CheckBox("clock", "A")鬧鐘
    @Html.CheckBox("movie", "A")看電影
</p>

自我介紹:@Html.TextArea("aboutme")</p>
@*姓名: <input type="text" /><br />
    <br />
    帳號: <input type="text" /><br />
    <br />
    密碼: <input type="Password" /><br />
    <br />
    性別:<input type="radio" name="gender" value="A"/> 男性 <input type="radio" name="gender" value="B"/> 女性<br />
    <br />
    興趣: <input type="checkbox" name="item"value="A" />游泳<input type="checkbox" name="item" value="A" />鬧鐘<input type="checkbox" name="item" value="A"/>看電影<br />
    <br />
    自我介紹:<textarea></textarea><br />*@



