﻿    @model mytest0505.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("Index")" method="post">
    <p>BMI = 體重(kg)/ 身高*身高(m)</p>
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />

    <p><input type="submit" name="name" value="送出" /></p>


</form>

<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>

